body {
	background-color: navajowhite;
	padding: 2%;
}

.productCard {
	border: 2px solid black;
	border-radius: 10%;
	margin: 2%;
	height: 350px;
	width: 300px;
	margin: 1%;
}

.hidden {
	display: none;
}

.thumbnail {
	height: 100px;
	width: 100px;
}